@model ML.Empresa

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/Styles/MapsAdd.css" />

<h2><i class="bi bi-building-fill-up"></i> Empresa</h2>

@using (Html.BeginForm("Form", "Empresa", FormMethod.Post))
{
    <div class="container-fluid h-100 mt-3">
        <div class="row h-100">
            <div class="col-12 col-md-4 p-3 bg-light overflow-auto">

                @Html.HiddenFor(model => model.IdEmpresa)
                <div class="col-12 mt-1">
                    @Html.LabelFor(model => model.Nombre, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Ingresa el nombre" })
                </div>
                <div class="col-md-6 mt-2">
                    @Html.LabelFor(model => model.Latitud, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Latitud, new { @class = "form-control", @id = "lat", @readonly = "readonly" })
                </div>
                <div class="col-md-6 mt-2">
                    @Html.LabelFor(model => model.Longitud, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Longitud, new { @class = "form-control", @id = "lng", @readonly = "readonly" })
                </div>
                <div class="col-12 text-end">
                    <button class="btn btn-primary"><i class="bi bi-building-check"></i> Guardar</button>
                </div>
            </div>
            <div class="col-12 col-md-8 p-0">
                <div id="mapa"></div>
            </div>
        </div>
    </div>

}




<!-- Google Maps -->
<script src="~/Scripts/Maps/MapsAdd.js"></script>
